@import "tailwindcss";

/* 🔥 Tailwind v4 için Gündüz/Gece tuşunun çalışmasını sağlayan sihirli satır */
@custom-variant dark (&:is(.dark *));

body {
  @apply bg-slate-50 text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-[#050505] text-white;
}

/* 🔥 Ripple (Neon Dalga) Animasyonu */
@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.8;
  }
  100% {
    width: 400px;
    height: 400px;
    transform: translate(-200px, -200px);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear forwards;
}